<!-- <mat-selection-list #shoes>
  <mat-list-option *ngFor="let shoe of typesOfShoes">
    {{shoe}}
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{shoes.selectedOptions.selected.length}}
</p> -->


<mat-card class="todoapp">
  <mat-toolbar color="primary">
    Lista de Tarefas
    <div class="button-dialog">
      <button mat-fab class="fab-add" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-card-content *ngIf="task.length">
    <mat-list>
      <form>
        <mat-list-item *ngFor="let t of task; let index=index" class="list-item">
          <mat-checkbox color="primary" type="checkbox" [name]="'item'+index" [ngModel]="t.status">
            <span [class.completed]="t.status">{{ t.title }}</span>
          </mat-checkbox>

          <span>
            <button mat-mini-fab color="primary"  
                    [disabled]="task">
              <mat-icon>mode_edit</mat-icon>
            </button>

            <button mat-mini-fab color="primary"
                    [disabled]="task.status">
              <mat-icon>delete_forever</mat-icon>
            </button>
            <!-- <button mat-mini-fab (click)="todoDialog(todo)" color="primary"
                    [disabled]="todo">
              <mat-icon>mode_edit</mat-icon>
            </button>

            <button mat-mini-fab (click)="remove(index)" color="primary"
                    [disabled]="todo.completed">
              <mat-icon>delete_forever</mat-icon>
            </button> -->
          </span>



        </mat-list-item>
      </form>
    </mat-list>
  </mat-card-content>
</mat-card>


<!-- <app-dialog [title]="'New Task'"
            [template]="'Enter Task'"
            [placeholder]="okButtonText"
            [value]="fieldValue"
            (valueEmitted)="updateTodo($event)"
            [showPrompt]="showDialog == true">
</app-dialog> -->

<!-- https://medium.com/@danielzen/build-a-todo-app-with-angular-material-and-the-angular-cli-d6340cb9ed31 -->
<!-- https://github.com/danielzen/material-todo/blob/master/src/app/app.component.html -->